.navbar {
  width: 100%;
  height: 75px; /* Consiglio: tra 60px e 70px */
  background-color: #394129;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

}

/* Logo a sinistra */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Link a destra */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.navbar-links li a:hover {
  color: #ffffff;
}

.nav-link:hover {
    color: #ffffff;
    text-decoration: none;
}
